Repository ProgrammingNotJustCoding/marai, pull requests merged in 2025-04, with the labels that each got.

#22 Ij/feat/auth backend integration
  apps/client/src/api/axios.ts
  apps/client/src/components/Login/LoginPage.tsx
  apps/client/src/components/Login/SignUpPage.tsx
  apps/client/src/components/Login/SignupVerificationPage.tsx
Labels: enhancement

#27 refactor(server): User and Lawfirm Flow
  apps/server/api/controllers/auth.controller.go
  apps/server/api/controllers/contracts.controller.go
  apps/server/api/controllers/lawfirm.controller.go
  apps/server/api/middlewares/rbac.go
  apps/server/api/routes/routes.go
  apps/server/internal/app/providers.go
  apps/server/internal/database/db.go
  apps/server/internal/database/repositories/lawfirm.repository.go
  apps/server/internal/database/repositories/session.repository.go
  apps/server/internal/database/repositories/users.repository.go
  apps/server/internal/database/schema/lawfirm.go
  apps/server/internal/database/schema/session.go
  apps/server/internal/database/schema/users.go
Labels: app/server

#33 Add agents server
  .gitignore
  apps/agents/.env.example
  apps/agents/.python-version
  apps/agents/README.md
  apps/agents/bruno/bruno.json
  apps/agents/bruno/contract-analysis.bru
  apps/agents/bruno/environments/marai-agents.bru
  apps/agents/bruno/generate-contract.bru
  apps/agents/bruno/health-check.bru
  apps/agents/bruno/legal-chat.bru
  apps/agents/databricks/marai-openai-finetuning.ipynb
  apps/agents/pyproject.toml
  apps/agents/requirements.txt
  apps/agents/scripts/delete_empty_files.py
  apps/agents/scripts/flat_format_json.py
  apps/agents/src/agent_core/agent_factory.py
  apps/agents/src/agent_core/base_agent.py
  apps/agents/src/agent_core/client.py
  apps/agents/src/agents_config/contract_analysis/__init__.py
  apps/agents/src/agents_config/contract_analysis/agents.py
  apps/agents/src/agents_config/contract_analysis/run.py
  apps/agents/src/agents_config/contract_gen/__init__.py
  apps/agents/src/agents_config/contract_gen/agents.py
  apps/agents/src/agents_config/contract_gen/run.py
  apps/agents/src/agents_config/contract_gen/templates.py
  apps/agents/src/agents_config/contract_gen/utils.py
  apps/agents/src/agents_config/legal_chat/__init__.py
  apps/agents/src/agents_config/legal_chat/agents.py
  apps/agents/src/agents_config/legal_chat/run.py
  apps/agents/src/agents_config/legal_chat/search.py
  apps/agents/src/agents_core/__init__.py
  apps/agents/src/agents_core/agents_factory.py
  apps/agents/src/agents_core/base.py
  apps/agents/src/api/handlers/__init__.py
  apps/agents/src/api/handlers/contract_analysis.py
  apps/agents/src/api/handlers/contract_gen.py
  apps/agents/src/api/handlers/legal_chat.py
  apps/agents/src/api/routes/__init__.py
  apps/agents/src/api/routes/routes.py
  apps/agents/src/config.py
  apps/agents/src/config/__init__.py
  apps/agents/src/config/env.py
  apps/agents/src/config/logger.py
  apps/agents/src/coordination/sqs_consumer.py
  apps/agents/src/main.py
  apps/agents/src/pool/__init__.py
  apps/agents/src/pool/agent_pool.py
  apps/agents/src/services/__init__.py
  apps/agents/src/services/azure_openai.py
  apps/agents/src/services/azure_storage.py
  apps/agents/src/services/spark_service.py
  apps/agents/src/utils/logger.py
  apps/agents/src/utils/safe_types.py
  blobs/agents-arch.svg
  blobs/sample-contract.pdf
  infra/main.tf
  infra/outputs.tf
Labels: enhancement, app/agents
